body{
    background-color:rgb(25, 25, 25);
    color: white;
}
.tittle{
    font-size: arial;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.section1{
    margin-left: 35%;
}

.move-button{
    background-color: transparent; 
    border-radius: 70px;
    border: 3px solid white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.move-icon{
    height: 110px;
    width: 110px;
    
}
.result{
    font-size: 30px;
    font-family: arial;
    font-weight: bolt;
    text-align: center;
}
.reset-button{
    border: none;
    padding:10px 10px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(72, 211, 72);
    margin-top: 20px;
    margin-left: 47%;
    cursor: pointer;
}
.moves{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.score{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}